@charset "utf-8";

body{
    background-color: rgb(249, 242, 218);
    margin: 0;
}
.center {
    margin: 10px 160px 0px 140px;
    text-align: center;
}
.left {
    text-align: left;
}
.flex {
    display: flex;
}
video{
    width: 420px;
    height: 250px;
}
.space-between {
    justify-content: space-between
}
